.Task {
    color: rgb(98, 163, 133);
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    height: 50px;
    margin: 1%;
  }
  
  .desc {
    background-color:#d6e4dcad;
    color: rgb(47, 44, 53);
    font-weight: 900;
    height: 25px;
    width: 50%;
    text-align: center;
    border-radius: 14px;
    resize: none;
    padding: 1%;
    font-size: 15px;
  }
  
  .done {
    text-decoration: line-through;
  }